<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>Thank You!</title>
    <meta name="description" content="" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="../static/style.css" />
  </head>
  <body>
    <div class="container">
      <img src="../static/logo.png" alt="Lexus" class="logo" />
      <h1>Thank Your!</h1>
      <h2>Thank you for rating your experience. We hope to see you soon!</h2>
    </div>
    <script src="" async defer></script>
  </body>
</html>
